@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');

:root {
    --white-color: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    color: var(--white-color);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    height: 96vh;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.container {
    margin: 0 5rem;
}

.d-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.align-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

.img-responsive {
    max-width: 100%;
    display: block;
    height: auto;
}

.d-grid {
    display: grid;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.text-center {
    text-align: center;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
    width: 50%;
}

.temp {
    font-size: 5rem;
    font-weight: 700;
}

.title-2 {
    font-size: 2.5rem;
    font-weight: 600;
}


.weather-card {
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.10) inset;
    color: var(--white-color);
    padding: 1.5rem 2.3rem;
    margin-right: 4.5rem;
}

.weather-card:last-child {
    margin-right: 0;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.ml-3 {
    margin-left: 3rem;
}
