body {
    background: var(--background);
}

.logo__text {
    font-size: 1.875rem;
    font-weight: 700;
}

.links a {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem;
    transition: border-bottom .5s ease-in-out;
}

.links a:hover {
    font-weight: 600;
    /* text-decoration: underline; */
    margin: 1rem;
    border-bottom: 2px solid #fff;
}

.search-field {
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.10) inset;
    border: none;
    color: var(--white);
    padding: 1rem;
    width: 30.75rem;
    outline: none;
    font-size: 1rem;
}

.search-field::placeholder {
    font-size: 1rem;
    color: var(--white);
}

.weather-details__city img {
    height: 14.625rem;
    width: 14.625rem;
}

.weather-info {
    color: rgba(255, 255, 255, 0.90);
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 7rem;
}

.weather-info:last-child {
    margin-right: 0;
}

.weather-details {
    height: 80vh;
}

.weather-card__text {
    font-size: 1.5rem;
    font-weight: 500;
}

.weather-card img {
    height: 5vh;
    margin: .8rem 0;
}

.logo img {
    height: 5vh;
}
