@media (min-width: 320px) and (max-width: 800px) {
    body {
        height: 99vh;
    }
    header.mt-3 {
        margin-top: 1rem;
    }
    .container {
        margin: 0 1.5rem;
    }
    
    nav {
        display: none;
    }

    header .container div.d-flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-field {
        width: 100%;
        margin-top: 1rem;
    }

    .weather-details__city img {
        height: 8.625rem;
        width: 8.625rem;
    }

    .title {
        font-size: 2.5rem;
        width: auto;
    }

    .temp {
        font-size: 4rem;
    }

    .title-2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .weather-info {
        font-size: 1rem;
        text-align: center;
        margin-right: 2rem;
    }

    .weather-cards {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .weather-card {
        margin-right: 0;
        padding: 1.5rem;
    }

    .n-mobile {
        display: none;
    }

    .weather-details {
        margin-top: 1.5rem;
    }
}