:root {
    --background: #101010;
}

.default {
    --background: linear-gradient(90deg, #40C9FF 0%, #E81CFF 100%);
    /* --background: url("../images/sky.jpg") , lightgray 50% / cover no-repeat; */
}

.clear-sky-morning {
    --background: linear-gradient(113deg, #0061FF 0%, #60EFFF 100%);
}


.clear-sky-night {
    --background: linear-gradient(113deg, #000 0%, #210CAE 100%);
}

.rainy-morning {
    --background: linear-gradient(113deg, #9BAFD9 0%, #103783 100%);
}

.rainy-night {
    --background: linear-gradient(113deg, #1E1E1E 0%, #103783 100%);
}

.sunny-morning {
    --background: linear-gradient(113deg, #FFF95B 0%, #FF930F 100%);
}

.sunny-night {
    --background: linear-gradient(122deg, #FF930F 40.92%, #FFF95B 100%);
}

.snow-morning {
    --background: linear-gradient(113deg, #8399A2 0%, #EEF2F3 100%);
}

.snow-night {
    --background: linear-gradient(102deg, #0B0052 0%, #FFF 168.41%); 
}
